*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monstserrat';
}

.main-sec{
    background-color: #024273;
    height: auto;
    
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin: 0px 100px;
    
}
.nav-content{
    display: flex;
    
}
.nav-items a:hover,.nav-items:hover {
    color: #0099ff ; 
    transition: all 0.1s ease ;
    transform: scale(1.2);
}

.nav-content .nav-items{
    list-style: none;
   
    
}
.nav img{
    height: 150px;
    width: auto;
    
}
.nav a{
    color: #fff;
    text-decoration: none;
    margin: 30px;
    font-size: 20px;
}
.main-sec{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-position: fixed;
.intro{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px 100px 100px;
    padding: 30px;
    border-radius: 50px;
    height: 600px;
    
    position: relative;
   
    object-fit: cover;
    overflow: hidden;
    
}
.wave-svg {
    /* display: flex; */
    position: absolute;
    background-attachment: fixed;
    bottom: 0;
    margin: -30px;
    
    
}

.up{
top: 0;
}
.main-heading{
    font-size: 50px;
    margin-bottom: 15px;
    color: #02355c;
}
 .heading{
    width: 600px;
    height: auto;
    margin: 80px;
    padding: 30px;
    
    /* box-shadow: 0 10px 20px  rgba(0,0,0,.6); */
    
}
.intro-paragraph{
    line-height: 150%;
    font-size: 20px;
    text-align: justify;
}
.topic-heading{
    font-size: 72px;
    color: #fff ;
    text-align: center;
    font-weight: 400;
    margin-top: 50px;
    border-top: 2px solid #1b5581;
}

 .profile{
    height: 400px;
    width: 400px;
    object-fit: cover;
    object-position:top ;
 /* border:2px solid black ; */ 
    border-radius: 1000%;
    box-shadow: 0 20px 30px #1b5581;
    margin-right: 80px;
}
.profile:hover{
    transform: scale(1.02);
    transition: all 0.3s ease;
    cursor: pointer;
}
.img-caption{
    position: absolute;
    bottom: 50px;
    right:165px;
    font-weight: 700;
    font-size: 22px;
    color: #024273;
}
.skills{
    justify-content: center;
    
}
.skill-div{
    background-color: #fff;
    height: auto;
    display: flex;
    margin: 0 100px 100px 100px;
    padding: 30px;
    gap: 50px;
    /* position: relative; */
    border-radius: 10px;

}
.skill-details{
    height: auto;
    width:50%;
    /* background-color: red; */
    position: relative;
    padding: 20px 10px;
}

.sub-heading{
    font-size: 32px;
    color: #02355c;
    margin-bottom: 12px;
}
.skill-intro{
    line-height: 1.4;
    font-size: 18px;
    text-align: justify;
}
.skill-details img{
    filter:grayscale(100);
    margin-bottom: 10px;   
}
.mid-icons{
   position: absolute;
    display: flex;
    width: auto;
    height: 7%;
    justify-content: center;
    align-items: center;
    transform: translate(240%, -120%);
    box-shadow: 0 10px 20px;
    border-radius: 20px;
    padding: 10px;
    gap: 20px;
    background-color: #0099ff;
    
}
.mid-icons img{
    filter: brightness(0) ;

}